@page "/seminar"
@inject ISeminarManager SeminarManager
@inject NavigationManager NavigationManager
@inject IDialogService DialogService

<AuthorizeView Roles="Librarian, Admin">
    @if (editSeminar)
    {
        <EditForm Context="_context" Model="SeminarToUpdate" OnSubmit="SaveEditSeminar">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>Seminar</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Date</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" @bind-value="SeminarToUpdate.Title" /></td>
                        <td><input type="text" @bind-value="SeminarToUpdate.FirstName" /></td>
                        <td><input type="text" @bind-value="SeminarToUpdate.LastName" /></td>
                        <td><input type="text" @bind-value="SeminarToUpdate.SeminarDate" /></td>
                        <td><input type="text" @bind-value="SeminarToUpdate.SeminarTime" /></td>
                        <td><button type="submit" class="btn btn-primary">Save</button></td>
                    </tr>
                </tbody>
            </table>
        </EditForm>
    }
    </AuthorizeView>

    @if (AllSeminars == null)
{
    <h4>Loading...</h4>
}
else if (AllSeminars.Count == 0)
{
    <h4>No seminars available at the moment</h4>
}
else
{
    <MudTable Items="@AllSeminars" Hover="@hover" Filter="new Func<Seminarium,bool>(FilterFunc1)" @bind-SelectedItem="SeminarToUpdate">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Seminars</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Title</MudTh>
            <MudTh>Speaker</MudTh>
            <MudTh>Date</MudTh>
            <MudTh>Time</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Title"><a href="SeminarById/@context.Id">@context.Title</a></MudTd>
            <MudTd DataLabel="Speaker">@context.FirstName @context.LastName</MudTd>
            <MudTd DataLabel="Date">@context.SeminarDate.ToShortDateString()</MudTd>
            <MudTd DataLabel="Time">@context.SeminarTime.ToString("HH:mm")</MudTd>
            <AuthorizeView Context="_context" Roles="Librarian, Admin">
                <MudTd DataLabel="Actions" HorizontalAlignment="HorizontalAlignment.Right">
                    <MudButton @onclick="() => EditSeminar(context.Id, context)"><MudIcon Icon="@Icons.Filled.Edit"></MudIcon></MudButton>
                    <MudButton @onclick="() => DeleteSeminar(context.Id)"><MudIcon Icon="@Icons.Filled.Delete"></MudIcon></MudButton>
                </MudTd>
            </AuthorizeView>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
}

<br />

@if (registerSeminar)
{
    <RegisterSeminar></RegisterSeminar>
}

@code {
    [Parameter]
    public int Id { get; set; }
    public List<Seminarium> AllSeminars { get; set; } = new();
    public Seminarium CreateSeminar { get; set; } = new();
    public Seminarium SeminarToUpdate { get; set; } = new();
    public DateTime TodaysDate { get; set; } = DateTime.Now;
    private string searchString1 = "";
    private bool registerSeminar;
    private bool hover = true;
    private bool editSeminar;
    private string message;
    private int seminarId;

    protected override async Task OnInitializedAsync()
    {
        AllSeminars = await SeminarManager.GetAllSeminars();
    }

    public async Task EditSeminar(int id, Seminarium seminarToUpdate)
    {
        editSeminar = true;
        seminarId = id;
        SeminarToUpdate = seminarToUpdate;
    }

    public async Task SaveEditSeminar()
    {
        await SeminarManager.UpdateSeminar(seminarId, SeminarToUpdate);
        editSeminar = false;
    }

    public async Task DeleteSeminar(int id)
    {
        var parameters = new DialogParameters
        {
            { "ContentText", "Are you sure you want to delete this seminar? This action cannot be undone." },
            { "ButtonText", "Delete" },
            { "Color", Color.Error },
            { "Id", id }
        };

        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };

        var dialog = DialogService.Show<DeleteSeminar>("Delete Seminar", parameters, options);

        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            AllSeminars = await SeminarManager.GetAllSeminars();
        }
    }

    public async Task AddSeminar()
    {
        CreateSeminar.SeminarDate = TodaysDate;
        var result = await SeminarManager.CreateSeminar(CreateSeminar);
        message = result == null ? $"Seminar \"{CreateSeminar.Title}\" has been added" : result;
    }

    void ShowRegisterSeminar()
    {
        registerSeminar = !registerSeminar;
    }

    private bool FilterFunc1(Seminarium seminar) => FilterFunc(seminar, searchString1);

    private bool FilterFunc(Seminarium seminar, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (seminar.Title.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (seminar.FirstName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if ($"{seminar.Title} {seminar.FirstName} {seminar.LastName}".Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }
}
